---
import Layout  from '../components/Layout.astro';
import Gallery from '../components/Gallery';
---

<Layout>
  
  <h1>Sample Page</h1>
  <p>This is a sample page to demonstrate the Astro framework.</p>

    <Gallery />

</Layout>